## Goals
1. What are the most important features for predicting X as a target variable?
2. Which classification approach do you prefer for the prediction of X as a target variable, and why?
3. Why is dimensionality reduction important in machine learning?

## Understanding data variables
### content
The dataset was provided by the Mexican government (link). This dataset contains an enormous number of anonymized patient-related information including pre-conditions. The raw dataset consists of 21 unique features and 1,048,576 unique patients. In the Boolean features, 1 means "yes" and 2 means "no". values as 97 and 99 are missing data.

1. sex: 1 for female and 2 for male.
2. age: of the patient.
3. classification: covid test findings. Values 1-3 mean that the patient was diagnosed with covid in different
   degrees. 4 or higher means that the patient is not a carrier of covid or that the test is inconclusive.
4. patient type: type of care the patient received in the unit. 1 for returned home and 2 for hospitalization.
5. pneumonia: whether the patient already have air sacs inflammation or not.
6. pregnancy: whether the patient is pregnant or not.
7. diabetes: whether the patient has diabetes or not.
8. copd: Indicates whether the patient has Chronic obstructive pulmonary disease or not.
9. asthma: whether the patient has asthma or not.
10. inmsupr: whether the patient is immunosuppressed or not.
11. hypertension: whether the patient has hypertension or not.
12. cardiovascular: whether the patient has heart or blood vessels related disease.
13. renal chronic: whether the patient has chronic renal disease or not.
14. other disease: whether the patient has other disease or not.
15. obesity: whether the patient is obese or not.
16. tobacco: whether the patient is a tobacco user.
17. usmr: Indicates whether the patient treated medical units of the first, second or third level.
18. medical unit: type of institution of the National Health System that provided the care.
19. intubed: whether the patient was connected to the ventilator.
20. icu: Indicates whether the patient had been admitted to an Intensive Care Unit.
21. date died: If the patient died indicate the date of death, and 9999-99-99 otherwise.

## Reading covid dataset to pandas dataframe

In [1]:
import pandas as pd # Helps to work with pandas dataframe
import seaborn as sns # Help with visualisation 
import matplotlib.pyplot as plt # Helps with visualization
import numpy as np # Helps to work with numbers and arrithmetic operation
import warnings
warnings.filterwarnings('ignore')

In [2]:
df= pd.read_csv('Covid Data.csv')
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [3]:
pd.set_option('display.max_columns', None) #This helps to display the entire column in df
pd.set_option('display.max_rows', None)
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,2,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,2,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,2,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,2,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,2,2,2,1,2,2,2,2,2,3,97

## Early data analysis
Exploring the nature or dataset

In [4]:
df.shape
# There are 21 features and 1,048,575 rows

(1048575, 21)

In [5]:
df.duplicated().sum()

812049

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

In [7]:
df.isnull().sum()

USMER                   0
MEDICAL_UNIT            0
SEX                     0
PATIENT_TYPE            0
DATE_DIED               0
INTUBED                 0
PNEUMONIA               0
AGE                     0
PREGNANT                0
DIABETES                0
COPD                    0
ASTHMA                  0
INMSUPR                 0
HIPERTENSION            0
OTHER_DISEASE           0
CARDIOVASCULAR          0
OBESITY                 0
RENAL_CHRONIC           0
TOBACCO                 0
CLASIFFICATION_FINAL    0
ICU                     0
dtype: int64

### Null values
Though the 'isnull()'method had returned no null values, The dataset litrature however stated that values such as 97, 98, 99.. are used to fill null values and should be treated as null values. 

To progress, we will count the values in each variabke to look for this null values.

In [8]:
## storing all variables in a list

In [9]:
df['PREGNANT'].unique()
# The pregnant hase this values "97" and "98"

array([ 2, 97, 98,  1], dtype=int64)

In [10]:
## now let's count how many of this null values we have in 'pregnant'
df['PREGNANT'].value_counts()
# As shown there are 527265 null values in the pregnant variables

97    523511
2     513179
1       8131
98      3754
Name: PREGNANT, dtype: int64

In [11]:
no=[523511,513179,8131,3754]
w= sum(no)
print(w)

1048575

According to logic, only biological females can get pregnant, and the data literature did not tell us otherwise, so to be able to handle the propotion of non pregant patient, we would value count the gender column and see the number of females and males in them

In [12]:
# 1: Female and 2: Male
df['SEX'].unique()

array([1, 2], dtype=int64)

In [13]:
df['SEX'].value_counts()

1    525064
2    523511
Name: SEX, dtype: int64

In [14]:
# So according to results there are 523511 male, which is thesame null value represented with 97, we would replace 97 with 2
df['PREGNANT'].replace(98,1,inplace=True)
df['PREGNANT'].replace(97,2,inplace=True) # inplace means replace in the main df

In [15]:
df['PREGNANT'].value_counts()
#2: Non pregnant. This value contain all male patient, and women that were not pregnant too. 
#1: Pregant. This are the assumed pregnant women.

2    1036690
1      11885
Name: PREGNANT, dtype: int64

In [16]:
df['USMER'].value_counts()
# No null values in Usmer

2    662903
1    385672
Name: USMER, dtype: int64

In [17]:
df['MEDICAL_UNIT'].value_counts()
#No null values ion the 'medical unit'

12    602995
4     314405
6      40584
9      38116
3      19175
8      10399
10      7873
5       7244
11      5577
13       996
7        891
2        169
1        151
Name: MEDICAL_UNIT, dtype: int64

In [18]:
df['PATIENT_TYPE'].value_counts()
#No null values in the patient type

1    848544
2    200031
Name: PATIENT_TYPE, dtype: int64

In [19]:
df['DATE_DIED'].value_counts()
# 9999-99-99: Represent patients that did not die
# All other dates represents patient that died
# Sine this can be categoried into 2 classes, died:1 did not die:2

9999-99-99    971633
06/07/2020      1000
07/07/2020       996
13/07/2020       990
16/06/2020       979
16/07/2020       938
14/07/2020       935
17/06/2020       926
29/06/2020       925
08/06/2020       923
09/07/2020       922
15/07/2020       916
12/06/2020       903
05/07/2020       897
14/06/2020       892
12/07/2020       889
30/06/2020       882
15/06/2020       877
08/07/2020       875
10/06/2020       873
11/07/2020       872
04/07/2020       870
10/07/2020       855
13/06/2020       855
09/06/2020       851
17/07/2020       848
28/06/2020       847
03/07/2020       843
01/07/2020       842
27/06/2020       835
18/06/2020       832
23/06/2020       831
03/06/2020       831
07/06/2020       830
02/07/2020       829
01/06/2020       829
21/06/2020       824
25/05/2020       821
22/06/2020       815
06/06/2020       814
11/06/2020       811
24/06/2020       804
18/05/2020       802
26/06/2020       800
04/06/2020       791
19/06/2020       790
02/06/2020       789
25/06/2020       785
20/06/2020       777
31/05/2020       776
17/05/2020       769
26/05/2020       767
24/05/2020       767
05/06/2020       757
21/05/2020       757
28/05/2020       751
22/05/2020       750
27/05/2020       749
20/05/2020       748
15/05/2020       747
19/05/2020       745
30/05/2020       741
18/07/2020       709
16/05/2020       704
23/05/2020       700
29/05/2020       699
14/05/2020       695
13/05/2020       682
12/05/2020       669
19/07/2020       665
04/05/2020       641
11/05/2020       625
05/05/2020       619
10/05/2020       610
09/05/2020       604
06/05/2020       600
08/05/2020       598
07/05/2020       583
20/07/2020       576
01/05/2020       555
02/05/2020       523
03/05/2020       517
29/04/2020       509
21/07/2020       506
30/04/2020       472
28/04/2020       469
22/07/2020       457
26/04/2020       418
23/07/2020       413
27/04/2020       400
25/04/2020       399
24/04/2020       346
23/04/2020       335
21/04/2020       332
25/07/2020       312
22/04/2020       302
20/04/2020       292
24/07/2020       288
26/07/2020       267
27/07/2020       261
19/04/2020       257
28/07/2020       215
18/04/2020       211
17/04/2020       209
14/04/2020       190
16/04/2020       185
13/04/2020       182
29/07/2020       178
15/04/2020       175
10/04/2020       156
30/07/2020       154
11/04/2020       150
12/04/2020       150
31/07/2020       139
09/04/2020       126
07/04/2020       125
01/08/2020       124
02/08/2020       116
03/08/2020       109
08/04/2020       104
06/04/2020        95
04/08/2020        93
04/04/2020        77
31/03/2020        75
05/08/2020        72
03/04/2020        69
05/04/2020        68
02/04/2020        67
06/08/2020        64
07/08/2020        62
01/04/2020        56
30/03/2020        50
09/08/2020        49
08/08/2020        49
10/08/2020        49
11/08/2020        42
28/03/2020        39
12/08/2020        37
27/03/2020        36
29/03/2020        33
28/04/2021        33
26/03/2020        31
29/04/2021        30
27/04/2021        29
30/04/2021        28
15/08/2020        28
14/08/2020        28
01/05/2021        26
18/01/2020        23
02/05/2021        23
29/01/2020        23
24/03/2020        22
20/01/2020        22
15/01/2020        22
11/02/2020        22
20/02/2020        21
24/02/2020        20
19/08/2020        20
26/02/2020        20
16/08/2020        19
13/08/2020        19
17/01/2020        19
17/08/2020        19
18/02/2020        19
10/02/2020        19
18/08/2020        19
12/02/2020        18
22/01/2020        18
25/03/2020        18
28/01/2020        18
16/02/2020        18
17/02/2020        18
19/02/2020        18
21/02/2020        17
06/03/2020        17
24/01/2020        17
07/02/2020        17
10/01/2020        16
31/01/2020        16
25/02/2020        16
23/01/2020        16
20/03/2020        16
27/01/2020        16
02/02/2020        15
13/03/2020        15
04/02/2020        15
18/03/2020        15
30/01/2020        15
06/02/2020        15
20/08/2020        15
08/02/2020        14
28/02/2020        14
16/01/2020        14
03/03/2020        14
05/02/2020        14
13/02/2020        14
25/08/2020        14
09/03/2020        13
23/03/2020        13
21/01/2020        13
04/03/2020        13
01/02/2020        13
23/08/2020        13
27/02/2020        12
12/03/2020        12
24/08/2020        12
10/03/2020        12
19/01/2020        12
13/01/2020        12
02/03/2020        11
11/03/2020        11
14/02/2020        11
01/03/2020        11
29/02/2020        11
14/01/2020        11
09/02/2020        11
26/01/2020        10
07/03/2020        10
27/08/2020        10
12/01/2020        10
22/03/2020        10
21/08/2020        10
15/03/2020        10
22/02/2020        10
05/03/2020         9
15/02/2020         9
29/08/2020         9
05/09/2020         9
26/04/2021         9
26/08/2020         9
25/01/2020         8
03/02/2020         8
23/02/2020         8
22/08/2020         8
03/09/2020         8
21/03/2020         8
28/08/2020         8
08/01/2020         7
09/01/2020         7
19/03/2020         7
25/04/2021         6
11/01/2020         6
02/09/2020         6
14/03/2020         6
09/09/2020         5
31/08/2020         5
16/03/2020         5
08/03/2020         5
17/03/2020         5
07/01/2020         5
03/01/2020         5
03/04/2021         4
21/01/2021         4
21/09/2020         4
19/09/2020         4
28/09/2020         4
26/12/2020         4
11/09/2020         4
24/04/2021         4
13/09/2020         4
17/02/2021         4
23/03/2021         3
14/04/2021         3
12/04/2021         3
18/02/2021         3
18/03/2021         3
17/03/2021         3
27/01/2021         3
05/10/2020         3
20/01/2021         3
08/11/2020         3
04/11/2020         3
25/10/2020         3
03/02/2021         3
30/08/2020         3
06/01/2020         3
16/09/2020         3
14/09/2020         3
20/09/2020         3
22/09/2020         3
08/09/2020         3
07/09/2020         3
04/09/2020         3
01/09/2020         3
17/09/2020         3
12/09/2020         2
05/01/2020         2
24/02/2021         2
25/02/2021         2
08/03/2021         2
29/03/2021         2
30/03/2021         2
01/04/2021         2
06/04/2021         2
28/03/2021         2
15/04/2021         2
14/03/2021         2
16/04/2021         2
17/04/2021         2
26/01/2021         2
18/04/2021         2
22/01/2021         2
28/12/2020         2
06/10/2020         2
15/09/2020         2
12/02/2021         2
07/12/2020         2
20/03/2021         2
22/03/2021         2
09/04/2021         2
10/04/2021         2
15/12/2020         2
04/10/2020         2
18/12/2020         2
12/11/2020         2
31/01/2021         2
24/09/2020         2
26/10/2020         2
14/11/2020         2
23/11/2020         2
29/09/2020         2
15/01/2021         2
24/01/2021         2
28/01/2021         2
27/09/2020         2
04/02/2021         2
18/09/2020         2
05/02/2021         2
06/02/2021         2
08/02/2021         2
14/10/2020         2
16/10/2020         1
22/11/2020         1
02/04/2021         1
03/12/2020         1
27/11/2020         1
25/11/2020         1
10/10/2020         1
22/10/2020         1
13/10/2020         1
22/12/2020         1
07/10/2020         1
25/09/2020         1
30/10/2020         1
13/04/2021         1
20/12/2020         1
31/03/2021         1
25/12/2020         1
01/01/2021         1
02/01/2021         1
07/01/2021         1
23/10/2020         1
20/10/2020         1
19/03/2021         1
14/02/2021         1
19/02/2021         1
22/02/2021         1
10/03/2021         1
11/03/2021         1
18/10/2020         1
26/03/2021         1
27/03/2021         1
07/02/2021         1
11/02/2021         1
06/11/2020         1
19/12/2020         1
05/12/2020         1
17/10/2020         1
12/10/2020         1
30/12/2020         1
10/01/2021         1
14/01/2021         1
06/09/2020         1
19/01/2021         1
23/09/2020         1
25/01/2021         1
01/02/2021         1
07/03/2021         1
27/02/2021         1
26/02/2021         1
10/02/2021         1
16/12/2020         1
06/01/2021         1
20/04/2021         1
27/10/2020         1
23/02/2021         1
11/01/2021         1
24/12/2020         1
20/02/2021         1
31/10/2020         1
10/09/2020         1
04/01/2020         1
19/04/2021         1
15/11/2020         1
24/03/2021         1
02/01/2020         1
24/11/2020         1
17/12/2020         1
08/12/2020         1
16/03/2021         1
22/04/2021         1
Name: DATE_DIED, dtype: int64

In [20]:
Died= df['DATE_DIED'].value_counts()
def get_die(value):
    if (value=='9999-99-99'):
        return 2
    else:
        return 1

In [21]:
df['Died']= df['DATE_DIED'].apply(get_die)
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU,Died
0,2,1,1,1,03/05/2020,97,1,65,2,2,2,2,2,1,2,2,2,2,2,3,97,1
1,2,1,2,1,03/06/2020,97,1,72,2,2,2,2,2,1,2,2,1,1,2,5,97,1
2,2,1,2,2,09/06/2020,1,2,55,2,1,2,2,2,2,2,2,2,2,2,3,2,1
3,2,1,1,1,12/06/2020,97,2,53,2,2,2,2,2,2,2,2,2,2,2,7,97,1
4,2,1,2,1,21/06/2020,97,2,68,2,1,2,2,2,1,2,2,2,2,2,3,97,1

In [22]:
# Lets count the values in the died column to make sure we got all unique values accounted for
df['Died'].value_counts()
#Now a new column Died as been added to df where 1:Died, 2: Did not die

2    971633
1     76942
Name: Died, dtype: int64

In [23]:
 # Droprint he date_died column
df.drop(['DATE_DIED'], axis=1, inplace=True)

In [24]:
#INTUBED 
df['INTUBED'].value_counts()

97    848544
2     159050
1      33656
99      7325
Name: INTUBED, dtype: int64

In [29]:
# Funtion to cal total null value
def get_null(variable):
    for value in variable:
        total_Null= sum(variable)
    return total_Null
null_in=[848544,7325]
Total_Null= get_null(null_in)
Total_Null

855869

In [30]:
n=len(df['INTUBED'])
percent_null_Intubate = (Total_Null/n)*100
percent_null_Intubate
# This shows that over 81 % of the data i the Intubated variable are null values so i will drop the column to
# Avoid introducing bias

81.62210619173639

In [32]:
df.drop(['INTUBED'], axis=1, inplace=True)
df.head()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU,Died
0,2,1,1,1,1,65,2,2,2,2,2,1,2,2,2,2,2,3,97,1
1,2,1,2,1,1,72,2,2,2,2,2,1,2,2,1,1,2,5,97,1
2,2,1,2,2,2,55,2,1,2,2,2,2,2,2,2,2,2,3,2,1
3,2,1,1,1,2,53,2,2,2,2,2,2,2,2,2,2,2,7,97,1
4,2,1,2,1,2,68,2,1,2,2,2,1,2,2,2,2,2,3,97,1

In [34]:
#PNEUMONIA
df['PNEUMONIA'].value_counts()

2     892534
1     140038
99     16003
Name: PNEUMONIA, dtype: int64

To be able to veiw all the null values at thesame time, i will explicitly ask pandas to treat the 97, 99, 98 values as null values

In [36]:
# This code replaces explicitly tell pandas to treat the 97, 98, 99 values as NAN/missing values
feauture=["PNEUMONIA","DIABETES","COPD","ASTHMA","INMSUPR","HIPERTENSION","OTHER_DISEASE","CARDIOVASCULAR","OBESITY","RENAL_CHRONIC","TOBACCO","ICU"]
for variable in feauture: 
    df[variable]=df[variable].replace([98,97,99],np.nan)

In [37]:
#Now we are bale to get the missing values
df.isnull().sum()

USMER                        0
MEDICAL_UNIT                 0
SEX                          0
PATIENT_TYPE                 0
PNEUMONIA                16003
AGE                          0
PREGNANT                     0
DIABETES                  3338
COPD                      3003
ASTHMA                    2979
INMSUPR                   3404
HIPERTENSION              3104
OTHER_DISEASE             5045
CARDIOVASCULAR            3076
OBESITY                   3032
RENAL_CHRONIC             3006
TOBACCO                   3220
CLASIFFICATION_FINAL         0
ICU                     856032
Died                         0
dtype: int64

In [41]:
df.describe()

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU,Died
count,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.032572e+06,1.048575e+06,1.048575e+06,1.045237e+06,1.045572e+06,1.045596e+06,1.045171e+06,1.045471e+06,1.043530e+06,1.045499e+06,1.045543e+06,1.045569e+06,1.045355e+06,1.048575e+06,192543.000000,1.048575e+06
mean,1.632194e+00,8.980565e+00,1.499259e+00,1.190765e+00,1.864379e+00,4.179410e+01,1.988666e+00,1.880420e+00,1.985594e+00,1.969805e+00,1.986442e+00,1.844349e+00,1.973130e+00,1.980135e+00,1.847145e+00,1.981920e+00,1.919285e+00,5.305653e+00,1.912446,1.926622e+00
std,4.822084e-01,3.723278e+00,4.999997e-01,3.929041e-01,3.423854e-01,1.690739e+01,1.058583e-01,3.244694e-01,1.191554e-01,1.711242e-01,1.156451e-01,3.625247e-01,1.617045e-01,1.395369e-01,3.598474e-01,1.332413e-01,2.723973e-01,1.881165e+00,0.282647,2.607556e-01
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000e+00
25%,1.000000e+00,4.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,2.000000,2.000000e+00
50%,2.000000e+00,1.200000e+01,1.000000e+00,1.000000e+00,2.000000e+00,4.000000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,6.000000e+00,2.000000,2.000000e+00
75%,2.000000e+00,1.200000e+01,2.000000e+00,1.000000e+00,2.000000e+00,5.300000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.000000,2.000000e+00
max,2.000000e+00,1.300000e+01,2.000000e+00,2.000000e+00,2.000000e+00,1.210000e+02,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,7.000000e+00,2.000000,2.000000e+00

## Percentage of missing values/ Column

In [45]:
n=len(df['ICU'])
percent_null_icu= (856032/n)*100
percent_null_icu
#Null values in Icu is over 81% of the entire observation so i will drop the column

81.6376510979186

In [46]:
df.drop(["ICU"],axis=1, inplace=True)

In [47]:
null_list=[3338,3003,2979,3404,3104,5045,3076,3032,3006,3220]